/* This file is for your main application css. */

@import "./phoenix.css";

.container {
  display: flex;
  justify-content: center;

  max-width: initial;
  width: initial;
}

form {
  margin: 0;
}

.player-seats {
  display: flex;
}

.player-seat {
  width: 200px;
  min-width: 200px;
  max-width: 200px;
  margin: 8px;
  padding: 16px;
  border-radius: 4px;

  background: #f0f0f0;
}

.player-seat button {
  display: block;
  margin: 0 auto;
}

@keyframes animate-card {
  0% {transform: scale(1);}
  50% {transform: scale(1.5);}
  100% {transform: scale(1);}
}

.player-seat--seated {
  border: 1px solid #e0e0e0;
  animation-name: animate-card;
  animation-duration: 0.15s;
}

.player-id {
  font-size: 8pt;
}
